:root {
    --background-color-primary: #f0f0f0;
    --background-color-secondary: #fff;
    --border-color: #000;
    --text-color: #000;
    
    @media screen and (prefers-color-scheme: dark) {
        --background-color-primary: #1a1a1a;
        --background-color-secondary: #000;
        --border-color: #fff;
        --text-color: #fff;
    }

    --canvas-size: calc(min(100svh, 100svw) * 0.75);
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: sans-serif;
}    

body {
    background-color: var(--background-color-primary);
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#oh-no-not-a-canvas {
    width: var(--canvas-size);
    height: var(--canvas-size);
    border: 1px solid var(--border-color);
    background-color: var(--background-color-secondary);
    border-collapse: collapse;
}

.option {
    display: flex;
    flex-direction: column-reverse;
}
